force-app/main/default/flows/Pedigree_Table.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>561</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>horses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>horse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pedigree_table</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>content_document_links</name>
        <label>content document links</label>
        <locationX>1089</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fileIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>define_content_document_link</name>
        <label>content document link</label>
        <locationX>920</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fileIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_horses.RegistrationNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>content_document_links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>define_content_document_link_0</name>
        <label>content document link</label>
        <locationX>1494</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>loop_content_document_links.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inserted_horses.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updated_content_document_links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>define_horse_record</name>
        <label>horse record</label>
        <locationX>835</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>HorseRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_horses.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HorseRecord.Registration_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_horses.RegistrationNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HorseRecord.APHA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_horses.APHA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HorseRecord.APHC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_horses.APHC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HorseRecord.AQHA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_horses.AQHA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HorseRecord.TB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_horses.TB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HorseRecord.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_horses.Gender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HorseRecord.Date_Foaled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_horses.DateFoaled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HorseRecord.Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_horses.Color</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HorseRecord.Sire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxSireID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HorseRecord.Dam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxDamId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HorseRecord.IsCompeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_horses.Competing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HorseRecord.Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_horses.Other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HorseRecord.Other_Breed_Association__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_horses.otherBreed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fileIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>horse_records</name>
        <label>horse records</label>
        <locationX>1176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>horseRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HorseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_horses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>placeholderHorse1</name>
        <label>placeholderHorse</label>
        <locationX>427</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>horse.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>horse.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>horse.Gender</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>horse.DateFoaled</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>horse.Sire</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>horse.Dam</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>horse.Color</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>horse.RegistrationNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>horse.APHA</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>horse.AQHA</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>horse.APHC</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>horse.TB</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>horse.Other</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>horse.Competing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updated_content_document_links</name>
        <label>content document links</label>
        <locationX>1615</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>updateCDLs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_content_document_links</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_content_document_links</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Reg_No_Match</name>
        <label>Reg No. Match?</label>
        <locationX>1321</locationX>
        <locationY>814</locationY>
        <defaultConnector>
            <targetReference>loop_content_document_links</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>skip</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_content_document_links.LinkedEntityId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>inserted_horses.Registration_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>define_content_document_link_0</targetReference>
            </connector>
            <label>Yes - Matched</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fxDamId</name>
        <dataType>String</dataType>
        <expression>IF(
NOT( ISNULL( {!loop_horses.Dam} )),
{!loop_horses.Dam},
null
)</expression>
    </formulas>
    <formulas>
        <name>fxSireID</name>
        <dataType>String</dataType>
        <expression>IF(
NOT( ISNULL( {!loop_horses.Sire} )),
{!loop_horses.Sire},
null
)</expression>
    </formulas>
    <interviewLabel>Pedigree Table {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pedigree Table</label>
    <loops>
        <name>fileIds</name>
        <label>fileIds</label>
        <locationX>1002</locationX>
        <locationY>646</locationY>
        <collectionReference>loop_horses.files</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>define_content_document_link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>horse_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>inserted_horses</name>
        <label>inserted horses</label>
        <locationX>1442</locationX>
        <locationY>441</locationY>
        <collectionReference>horseRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loop_content_document_links</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>INSERT_CONTENT_LINKS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_content_document_links</name>
        <label>content document links</label>
        <locationX>1441</locationX>
        <locationY>604</locationY>
        <collectionReference>contentDocumentLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reg_No_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>inserted_horses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_horses</name>
        <label>loop horses</label>
        <locationX>998</locationX>
        <locationY>441</locationY>
        <collectionReference>horses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>define_horse_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>insert_horses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>INSERT_CONTENT_LINKS</name>
        <label>INSERT CONTENT LINKS</label>
        <locationX>1580</locationX>
        <locationY>448</locationY>
        <inputReference>updateCDLs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>insert_horses</name>
        <label>Horses</label>
        <locationX>1214</locationX>
        <locationY>441</locationY>
        <connector>
            <targetReference>inserted_horses</targetReference>
        </connector>
        <inputReference>horseRecords</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>debug</name>
        <label>debug</label>
        <locationX>755</locationX>
        <locationY>292</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop_horses</targetReference>
        </connector>
        <fields>
            <name>debugg</name>
            <fieldText>&lt;p&gt;HORSES:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!horses}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>pedigree_table</name>
        <label>pedigree table</label>
        <locationX>666</locationX>
        <locationY>441</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop_horses</targetReference>
        </connector>
        <fields>
            <name>pedigreeTable</name>
            <extensionName>c:pedigreeTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>horses</name>
                <value>
                    <elementReference>horses</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>horses</assignToReference>
                <name>horses</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>424</locationY>
        <connector>
            <targetReference>placeholderHorse1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>horse</name>
        <apexClass>Horse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HorseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Horse__c</objectType>
    </variables>
    <variables>
        <name>horseRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Horse__c</objectType>
    </variables>
    <variables>
        <name>horses</name>
        <apexClass>Horse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>updateCDLs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
