force-app/main/default/flows/Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignAccountValues</name>
        <label>AssignAccountValues</label>
        <locationX>692</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.BillingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Zip_CodeText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Business_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetExistingContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContactValues</name>
        <label>AssignContactValues</label>
        <locationX>598</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MailingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Zip_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignAccountValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContactValues_0</name>
        <label>AssignContactValues</label>
        <locationX>719</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MailingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Zip_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetExistingContacts_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DoesAccountExist</name>
        <label>DoesAccountExist</label>
        <locationX>1075</locationX>
        <locationY>177</locationY>
        <defaultConnector>
            <targetReference>CreateNewAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAcct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesContactExist</name>
        <label>DoesContactExist?</label>
        <locationX>863</locationX>
        <locationY>304</locationY>
        <defaultConnector>
            <targetReference>CreateNewContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExistingContacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesContactExist_0</name>
        <label>DoesContactExist?</label>
        <locationX>839</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>CreateNewContact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExistingContacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label xsi:nil="true"/>
        </rules>
    </decisions>
    <decisions>
        <name>DoesPersonAccountExist</name>
        <label>DoesPersonAccountExist?</label>
        <locationX>578</locationX>
        <locationY>661</locationY>
        <defaultConnector>
            <targetReference>CreateNewPersonAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_00</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPersonAccountRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsBusinessAccount</name>
        <label>IsBusinessAccount?</label>
        <locationX>448</locationX>
        <locationY>397</locationY>
        <defaultConnector>
            <targetReference>GetPersonAccountRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_registering_as_a_business</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignContactValues</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>StatePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillingStateCode</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Person_Account_Name</name>
        <dataType>String</dataType>
        <expression>{!First_Name}   +&quot; &quot;+    {!Contact_Last_Name}   +&quot;&apos;s Account&quot;</expression>
    </formulas>
    <interviewLabel>Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewAccount</name>
        <label>CreateNewAccount</label>
        <locationX>1210</locationX>
        <locationY>172</locationY>
        <connector>
            <targetReference>Success_Page</targetReference>
        </connector>
        <inputReference>Account</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateNewContact</name>
        <label>CreateNewContact</label>
        <locationX>976</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <inputReference>Contact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateNewContact_0</name>
        <label>CreateNewContact</label>
        <locationX>970</locationX>
        <locationY>558</locationY>
        <connector>
            <targetReference>Success_Page_0</targetReference>
        </connector>
        <inputReference>Contact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateNewPersonAccount</name>
        <label>CreateNewPersonAccount</label>
        <locationX>585</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>AssignContactValues_0</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Contact_Zip_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStateCode</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>ContactEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Person_Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>ContactPhone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>976</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesAccountExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExistingContacts</name>
        <label>GetExistingContacts</label>
        <locationX>760</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesContactExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExistingContacts_0</name>
        <label>GetExistingContacts</label>
        <locationX>714</locationX>
        <locationY>693</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesContactExist_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPersonAccountRecord</name>
        <label>GetPersonAccountRecord</label>
        <locationX>587</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesPersonAccountExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Person_Account_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Account_Details</name>
        <label>Account Details</label>
        <locationX>456</locationX>
        <locationY>215</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsBusinessAccount</targetReference>
        </connector>
        <fields>
            <name>Enter_Details</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please enter your contact details below:&lt;/strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Address</name>
            <fieldText>Address</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Address_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Street</name>
                    <dataType>String</dataType>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>State</name>
                    <choiceReferences>StatePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>State</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Contact_Zip_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Zip Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Are_you_registering_as_a_business</name>
            <dataType>Boolean</dataType>
            <fieldText>Are you registering as a business?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>I_am_the_primary_business_contact</name>
                    <dataType>Boolean</dataType>
                    <fieldText>I am the primary business contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Business_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Business Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Account_Business_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Business Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Account_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Business Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Account_Address</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Business Address&lt;/strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Account_Street</name>
                    <dataType>String</dataType>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Account_City</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Account_State</name>
                    <choiceReferences>StatePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>State</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Account_Zip_CodeText</name>
                    <dataType>String</dataType>
                    <fieldText>Zip Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_you_registering_as_a_business</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Page</name>
        <label>Success_Page</label>
        <locationX>1314</locationX>
        <locationY>172</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px;&quot;&gt;Successfully Registered!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You may now navigate away from this page.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Page_0</name>
        <label>Success_Page</label>
        <locationX>1083</locationX>
        <locationY>558</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Text_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px;&quot;&gt;Successfully Registered!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You may now navigate away from this page.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Horse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Horse__c</objectType>
    </variables>
</Flow>
